<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body>
<%= _.template(require('./../includes/header.html'))(data) %> 
<section class="section">
  <div class="section__wrapper" id="about">
    <div class="container">
      <div class="main-box">
        <div class="main-box__wrapper">
          <div class="main-box__item main-box__item_l">
            <div class="main-box__title">
              <span>Solution for corporate communication</span>
            </div>
            <div class="main-box__caption">
              <span>Employer - Employee app to inform, engage, educate and motivate.</span>
            </div>
            <div class="main-box__button">
              <div class="button">
                <a href="#contacts" class="button__wrapper">Connect</a>
              </div>
            </div>
          </div>
          <div class="main-box__item main-box__item_s">
            <div class="main-box__img">
              <img class="iphone_left ef ef_left" data-x="100" src="./img/iPhone-X.png" alt="iphone">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper">
    <div class="container">
      <div class="box">
        <div class="box__wrapper">
          <div class="box__item">
            <div class="box__img">
              <img class="macbook_left ef ef_left" data-x="40" src="./img/macbook.png" alt="">
            </div>
          </div>
          <div class="box__item">
            <div class="box__title">
              <span>Broad goals</span>
            </div>
            <ul class="box__list box__list_right box__list_red">
              <li class="box__li">Create consumer-like news, which reaches every single employee</li>
              <li class="box__li">Give your employees a voice by providing a venue to think outside the box</li>
              <li class="box__li">Increase employee engagement with gamification</li>
              <li class="box__li">Reduce costs for onboarding and training</li>
              <li class="box__li">Gather workable and actionable metrics</li>
              <li class="box__li">React to employees’ questions/issues and proposals in no time</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper section__wrapper_grey">
    <div class="container">
      <div class="box">
        <div class="box__wrapper box__wrapper_top">
          <div class="box__item box__item_line">
            <div class="step-line">
              <div class="step-line__wrapper">
                <div class="step-line__points"></div>
                <div class="step-line__steps">
                  <div class="step-line__title">
                    <span>Core modules</span>
                  </div>
                  <div class="step-line__item">
                    <span>Company news</span>
                  </div>
                  <div class="step-line__item">
                    <span>KPI</span>
                  </div>
                  <div class="step-line__item">
                    <span>Training and education</span>
                  </div>
                  <div class="step-line__item">
                    <span>Personal profile</span>
                  </div>
                  <div class="step-line__item">
                    <span>Control and insight panel for managers and admins</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box__item">
            <div class="box__phones">
              <img class="phones__left ef ef_left" data-x="205" src="./img/phones.png" alt="phone">
              <img class="phones__right ef ef_right" data-x="55" src="./img/phones2.png" alt="phone">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper" id="aplication">
    <div class="container">
      <div class="box">
        <div class="box__wrapper box__wrapper_part">
          <div class="box__item box__item_s">
            <div class="box__mob-title"></div>
            <div class="box__img">
              <img class="er" src="./img/img-1.png" alt="phone-1">
            </div>
          </div>
          <div class="box__item box__item_l">
            <div class="box__title-wrap">
              <div class="box__title box__title_part">
                <span>News</span>
              </div>
              <div class="box__caption">
                <span>Enables you to create, channel and track reactions to the news</span>
              </div>
            </div>
            <ul class="box__list">
              <li class="box__li">Inform your employees about what's most important and what's happening</li>
              <li class="box__li">Divide the news into categories and communicate it to selected departments</li>
              <li class="box__li">Let your employees react/comment on the news</li>
              <li class="box__li">View the reaction and statistics according to the specified criteria</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__wrapper box__wrapper_part box__wrapper_reverse">
          <div class="box__item box__item_s">
            <div class="box__mob-title"></div>
            <div class="box__img">
              <img class="er" src="./img/img-2.png" alt="phone-1">
            </div>
          </div>
          <div class="box__item box__item_l">
            <div class="box__title-wrap">
              <div class="box__title box__title_part">
                <span>KPI</span>
              </div>
              <div class="box__caption">
                <span>Informs the user about his KPI structure and status</span>
              </div>
            </div>
            <ul class="box__list">
              <li class="box__li">Increase motivation by letting social rating contribute to employee’s KPI</li>
              <li class="box__li">Browse through historical KPI performance</li>
              <li class="box__li">Enable your employees to dynamically track their KPI, along with KPI of their department/branch</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__wrapper box__wrapper_part">
          <div class="box__item box__item_s">
              <div class="box__mob-title"></div>
            <div class="box__img">
              <img class="er" src="./img/img-3.png" alt="phone-1">
            </div>
          </div>
          <div class="box__item box__item_l">
            <div class="box__title-wrap">
              <div class="box__title box__title_part">
                <span>Training and education</span>
              </div>
              <div class="box__caption">
                <span>Helps you train and educate your employees</span>
              </div>
            </div>
            <ul class="box__list">
              <li class="box__li">Upload/create training materials (we help you make it interactive)</li>
              <li class="box__li">Test the knowledge through the tests</li>
              <li class="box__li">Motivate employees using in app bonus points that affects KPI</li>
              <li class="box__li">Train newcomers faster and more efficiently using onboarding courses with checklists</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__wrapper box__wrapper_part box__wrapper_reverse">
          <div class="box__item box__item_s">
            <div class="box__mob-title"></div>
            <div class="box__img">
              <img class="er" src="./img/img-4.png" alt="phone-1">
            </div>
          </div>
          <div class="box__item box__item_l">
            <div class="box__title-wrap">
              <div class="box__title box__title_part">
                <span>Personal profile</span>
              </div>
              <div class="box__caption">
                <span>Provides contact information and basic statistics about the user</span>
              </div>
            </div>
            <ul class="box__list">
              <li class="box__li">Assign the user to the branch/department/function</li>
              <li class="box__li">Limit or grant access to required information streams</li>
              <li class="box__li">Display user’s social rating, formed by his engagement (number of news read, tests solved, etc)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="box__wrapper box__wrapper_part">
          <div class="box__item box__item_x">
            <div class="box__mob-title"></div>
            <div class="box__img">
              <img src="./img/img-5.png" alt="phone-1">
            </div>
          </div>
          <div class="box__item box__item_z">
            <div class="box__title-wrap">
              <div class="box__title box__title_part">
                <span>Control panel</span>
              </div>
              <div class="box__caption">
                <span>Provides a powerful tool to interact with employees’ reaction, feedback and performance</span>
              </div>
            </div>
            <ul class="box__list">
              <li class="box__li">Generate, analyze business units’ activity and statistics of user groups</li>
              <li class="box__li">View  and analyze the results of the questionnaires</li>
              <li class="box__li">View the engagement rating by department/group</li>
              <li class="box__li">Analyze the content (news) in terms of their popularity among users</li>
              <li class="box__li">Make more informed decisions using insights into employees’ reactions and usage</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper section__wrapper_grey">
    <div class="container">
      <div class="box">
        <div class="box__wrapper box__wrapper box__wrapper_grey">
          <div class="box__item box__item_full">
            <div class="box__title box__title_center">
              <span>Desktop version</span>
            </div>
          </div>
          <div class="box__item box__item_xs">
            <div class="box__text box__text_right">
              <span>Same rich functionality that you have in<br> the application is accessible on any other<br> device, laptop or PC</span>
            </div>
          </div>
          <div class="box__item box__item_xl">
            <div class="box__img">
              <img class="ef ef_right macbook_right" data-x="70" src="./img/img-6.png" alt="phone-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper">
    <div class="container">
      <div class="box">
        <div class="box__wrapper box__wrapper_top">
          <div class="box__item box__item_xxs">
            <div class="box__img box__img_right">
              <img src="./img/img-7.png" alt="">
            </div>
          </div>
          <div class="box__item box__item_xxl">
            <div class="step-line">
              <div class="step-line__wrapper step-line__wrapper_bottom">
                <div class="step-line__points"></div>
                <div class="step-line__steps">
                  <div class="step-line__title">
                    <span>Additional modules</span>
                  </div>
                  <div class="step-line__item">
                    <span>
                      <strong>Notifications</strong> – view personal posts, messages and mentions
                    </span>
                  </div>
                  <div class="step-line__item">
                    <span>
                      <strong>Calendar</strong> - provides employees with a calendar tool see their workload, be informed about the changes and colleagues in the shift
                    </span>
                  </div>
                  <div class="step-line__item">
                    <span>
                      <strong>FAQ</strong>  - build a knowledge base for your employees
                    </span>
                  </div>
                  <div class="step-line__item">
                    <span>
                      <strong>The wall</strong> - an element of a social network, similar to facebook.com
                    </span>
                  </div>
                  <div class="step-line__item">
                    <span>
                      <strong>Customized module</strong> – custom built module for the needs of your business
                    </span>
                  </div>
                  <div class="step-line__item">
                    <span>
                      <strong>Rating</strong> - create ratings and “employee of the month” competitions
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper section__wrapper_grey section__wrapper_bottom">
    <div class="container">
      <div class="box">
        <div class="box__wrapper box__wrapper_grey">
          <div class="box__item box__item_full">
            <div class="box__title box__title_center">
              <span>Features</span>
            </div>
          </div>
          <div class="box__item box__item_full">
            <div class="features">
              <div class="features__wrapper">
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-1.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Free trial period</span>
                  </div>
                </div>
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-2.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Integration of our solution
                        with existing software</span>
                  </div>
                </div>
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-3.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Scalability for up to 251300 users, 
                        including pets</span>
                  </div>
                </div>
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-4.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Free technical support and consultation</span>
                  </div>
                </div>
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-5.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Customised design</span>
                  </div>
                </div>
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-6.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Encrypted users data</span>
                  </div>
                </div>
                <div class="features__item">
                  <div class="features__icon">
                    <img src="./img/feat-7.svg" alt="">
                  </div>
                  <div class="features__text">
                    <span>Quickly deployable</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper">
    <div class="container">
      <div class="number-list">
        <div class="number-list__wrapper">
          <div class="number-list__title">
            <span>How to start?</span>
          </div>
          <div class="number-list__box">
            <div class="number-list__item">
              <div class="number-list__icon">1</div>
              <div class="number-list__text">
                <span>
                  <strong>You provide general information:</strong> preferred modules, company structure and number of users
                </span>
              </div>
            </div>
            <div class="number-list__item">
              <div class="number-list__icon">2</div>
              <div class="number-list__text">
                <span>
                  We <strong>design, customize</strong> and <strong>set up</strong> your modules
                </span>
              </div>
            </div>
            <div class="number-list__item">
              <div class="number-list__icon">3</div>
              <div class="number-list__text">
                <span>
                    We deploy the app, providing you with <strong>initial training</strong> and <strong>best practices</strong>
                </span>
              </div>
            </div>
            <div class="number-list__item">
              <div class="number-list__icon">4</div>
              <div class="number-list__text">
                <span>
                    You start your <strong>free trial period</strong>
                </span>
              </div>
            </div>
            <div class="number-list__item">
              <div class="number-list__icon">5</div>
              <div class="number-list__text">
                <span>
                    We provide <strong>constant technical support</strong> and <strong>consultations</strong>
                </span>
              </div>
            </div>
            <div class="number-list__item">
              <div class="number-list__icon">6</div>
              <div class="number-list__text">
                <span>
                    <strong>Welcome</strong> to our community!
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper section__wrapper_grey section__wrapper_clients" id="clients">
    <div class="container">
      <div class="clients">
        <div class="clients__wrapper">
          <div class="clients__title">
            <span>Clients</span>
          </div>
          <div class="clients__box">
            <div class="clients__item">
              <img src="./img/client-1.png" alt="client-1">
            </div>
            <div class="clients__item">
              <img src="./img/client-1.png" alt="client-1">
            </div>
            <div class="clients__item">
              <img src="./img/client-1.png" alt="client-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section__wrapper section__wrapper_dark" id="contacts">
    <div class="container">
      <div class="logo"></div>
      <div class="form">
        <div class="form__wrapper">
          <div class="form__caption">
            <span>Any questions? Just write us</span>
          </div>
          <form action="#" class="form__form">
            <div class="form__item form__item_req">
              <input type="text" name="name" class="form__input form__req" placeholder="Name">
              <div class="form__error"></div>
            </div>
            <div class="form__item form__item_req">
              <input type="text" name="email" class="form__input form__req" placeholder="Email">
              <div class="form__error"></div>
            </div>
            <div class="form__item form__item_req">
              <textarea name="message" class="form__textarea form__req" placeholder="Message"></textarea>
              <div class="form__error"></div>
            </div>
            <div class="form__item">
              <div class="form__button">
                <div class="button">
                  <input type="submit" class="button__wrapper" value="Send">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<%= _.template(require('./../includes/footer.html'))(data) %>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>